.speedometer {
    background-image: url(src/assets/meter.png);
    width: 440px;
    height: 440px;
    border-radius: 50%;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    &__background {
        width: 360px;
        height: 360px;
        border-radius: 50%;
        opacity: 0.2;

        position: absolute;
        transition: 1s ease-out 0.5s
    }

    &__dial {
        background-image: url(src/assets/dial.png);
        width: 56px;
        height: 294px;

        position: absolute;

        background-repeat: no-repeat;
        transition: 1s ease-out 0.5s;
        transform: rotate(-120deg);
    }
}

